<!DOCTYPE html>
<html>
  <head>
    <title>Users List - <%=shopData.shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Registered Users - <%=shopData.shopName%></h1>

    <% if (users.length > 0) { %>
    <table border="1" cellpadding="10">
      <thead>
        <tr>
          <th>Username</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(function(user) { %>
        <tr>
          <td><%= user.username %></td>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.email %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <% } else { %>
    <p>No users found.</p>
    <% } %>

    <br />
    <a href="/">Home</a> | <a href="/users/register">Register</a> |
    <a href="/users/login">Login</a>
  </body>
</html>
